In [34]:
import h5py
import numpy as np
import datetime
import inspect
from typing import Any, Dict
import pandas as pd



def recursively_load_dict_contents_from_group(h5_file: h5py.File, path: str) -> Dict[str, Any]:
    """
    Recursively load a HDF5 file into a dictionary

    :param h5_file: the h5py file object
    :param path: the path to the group in the hdf5 file
    :return: a dictionary containing the contents of the hdf5 file
    """

    output = dict()
    for key, item in h5_file[path].items():
        if isinstance(item, h5py.Dataset):
            output[key] = decode_from_hdf5(item[()])
        elif isinstance(item, h5py.Group):
            output[key] = recursively_load_dict_contents_from_group(
                h5_file, path + key + "/"
            )
    return output


def recursively_save_dict_contents_to_group(h5_file: h5py.File, path: str, dic: Dict[str, Any]) -> None:
    """
    Recursively save a dictionary to a HDF5 group

    :param h5_file: h5py.File
        Open HDF5 file
    :param path: str
        Path inside the HDF5 file
    :param dic: dict
        The dictionary containing the data
    """
    for key, item in dic.items():
        item = encode_for_hdf5(key, item)
        if isinstance(item, dict):
            recursively_save_dict_contents_to_group(h5_file, path + key + "/", item)
        else:
            h5_file[path + key] = item


def decode_from_hdf5(item) -> Any:
    """
    Decode an item from HDF5 format to python type.

    This currently just converts __none__ to None and some arrays to lists

    :param item: object
        Item to be decoded

    :return  output: object
        Converted input item
    """
    if isinstance(item, str) and item == "__none__":
        output = None
    elif isinstance(item, bytes) and item == b"__none__":
        output = None
    elif isinstance(item, (bytes, bytearray)):
        output = item.decode()
    elif isinstance(item, np.ndarray):
        if item.size == 0:
            output = item
        elif "|S" in str(item.dtype) or isinstance(item[0], bytes):
            output = [it.decode() for it in item]
        else:
            output = item
    elif isinstance(item, np.bool_):
        output = bool(item)
    else:
        output = item
    return output


def encode_for_hdf5(key: str, item: Any) -> Any:
    """
    Encode an item to a HDF5 saveable format.

    :param item: object
        Object to be encoded, specific options are provided for Bilby types

    :return output: object
        Input item converted into HDF5 saveable format
    """

    if isinstance(item, np.int_):
        item = int(item)
    elif isinstance(item, np.float_):
        item = float(item)
    elif isinstance(item, np.complex_):
        item = complex(item)
    if isinstance(item, (np.ndarray, int, float, complex, str, bytes)):
        output = item
    elif item is None:
        output = "__none__"
    elif isinstance(item, list):
        if len(item) == 0:
            output = item
        elif isinstance(item[0], (str, bytes)) or item[0] is None:
            output = list()
            for value in item:
                if isinstance(value, str):
                    output.append(value.encode("utf-8"))
                elif isinstance(value, bytes):
                    output.append(value)
                else:
                    output.append(b"__none__")
        elif isinstance(item[0], (int, float, complex)):
            output = np.array(item)
        else:
            raise ValueError(f'Cannot save {key}: {type(item)} type')
    elif isinstance(item, pd.DataFrame):
        output = item.to_dict(orient="list")
    elif inspect.isfunction(item) or inspect.isclass(item):
        output = dict(
            __module__=item.__module__, __name__=item.__name__, __class__=True
        )
    elif isinstance(item, dict):
        output = item.copy()
    elif isinstance(item, tuple):
        output = {str(ii): elem for ii, elem in enumerate(item)}
    elif isinstance(item, datetime.timedelta):
        output = item.total_seconds()
    else:
        raise ValueError(f'Cannot save {key}: {type(item)} type')
    return output

In [110]:
import os
import h5py
import pandas as pd

from typing import Optional


class CompasOutput:
    def __init__(
            self,
            outdir: str,
            Run_Details: Optional[dict] = None,
            BSE_Supernovae: Optional[pd.DataFrame] = None,
            BSE_System_Parameters: Optional[pd.DataFrame] = None,
            BSE_Common_Envelopes: Optional[pd.DataFrame] = None,
            BSE_RLOF: Optional[pd.DataFrame] = None,
    ):
        """

        :param outdir:
        :param Run_Details: Configs for the run
        :param BSE_Supernovae: pd.DataFrame of supernovae
        :param BSE_System_Parameters: pd.DataFrame of system parameters
        """
        self.outdir = outdir
        self.Run_Details = Run_Details
        self.BSE_Supernovae = BSE_Supernovae
        self.BSE_System_Parameters = BSE_System_Parameters
        self.BSE_Common_Envelopes = BSE_Common_Envelopes
        self.BSE_RLOF = BSE_RLOF
        self.number_of_systems = self.Run_Details['number-of-systems']
        self.detailed_output_exists = True if self.Run_Details["detailed-output"] == 1 else False

    def __getitem__(self, item):
        return self.get_binary(index=item)
    
    def get_binary(self, index=None, seed=None):
        all_seeds = self.BSE_System_Parameters.SEED 
        if index is not None:
            seed = all_seeds.iloc[index]
        else:
            index = self.BSE_System_Parameters[all_seeds==seed].index[0]
        data = {}
        if self.detailed_output_exists:
            det_fn = os.path.join(self.outdir, "Detailed_Output", f"BSE_Detailed_Output_{index}.h5")
            data["detailed_output"] = load_compas_detailed_output(det_fn)
        for key in self.__dict__:
            val = self.__dict__[key]
            if isinstance(val, pd.DataFrame):
                val = val[val['SEED']==seed]
                if len(val)==0:
                    data[key] = None
                elif len(val) > 1:
                    raise ValueError("Data for two binaries with same key")
                else:
                    data[key] = val.to_dict('records')[0]
                
        return data

    @classmethod
    def from_hdf5(cls, outdir):
        """
        Loads a COMPAS output file from HDF5 format.

        :param outdir: the directory where the output files are written
        :return: a COMPASOutput object
        """

        filename = os.path.join(outdir, 'COMPAS_Output.h5')
        with h5py.File(filename, "r") as ff:
            data = recursively_load_dict_contents_from_group(ff, '/')
        run_details = data['Run_Details']
        for k in data.keys():
            data[k] = pd.DataFrame(data[k])
        data['Run_Details'] = pd.DataFrame(run_details).to_dict('records')[0]
        data['outdir'] = outdir
        return cls(**data)
    
    def __repr__(self):
        rep = ["COMPAS OUTPUT"]
        for k,v in self.__dict__.items():
            att_rep = f"--{k}: {v},"
            if isinstance(v, str):
                pass
            elif hasattr(v, "__len__"):
                att_rep = f"--{k}: {len(v)},"
            if hasattr(v, "shape"):
                att_rep = f"--{k}: shape {v.shape},"
            rep.append(att_rep)
        return "\n".join(rep)
    
    
def load_compas_detailed_output(filename):
    with h5py.File(filename, "r") as ff:
        data = recursively_load_dict_contents_from_group(ff, '/')
    return pd.DataFrame(data)


compas_out = CompasOutput.from_hdf5(outdir='/Users/avaj0001/Documents/projects/compas_dev/COMPAS/src/COMPAS_Output')
compas_out.get_binary(seed=1667215001)

{'detailed_output':            Age(1)    Age(2)  Ang_Momentum(1)  Ang_Momentum(2)  \
 0    0.000000e+00  0.000000         0.000398         0.000062
 1    3.955913e-05  0.000040         0.000398         0.000062
 2    3.955913e-05  0.000040         0.000398         0.000062
 3    3.955913e-05  0.000040         0.000398         0.000062
 4    3.955915e-05  0.000040         0.000398         0.000062
 ..            ...       ...              ...              ...
 672  9.580939e-07  4.096877         0.000005         0.000052
 673  9.580939e-07  4.096877         0.016978         0.177946
 674  9.580939e-07  4.096877         0.016978         0.177946
 675  9.580939e-07  4.096877         0.016978         0.177946
 676  9.580939e-07  4.096877         0.016978         0.177946

      Ang_Momentum_Total  Dominant_Mass_Loss_Rate(1)  \
 0           2041.820645                           0
 1           2041.820645                           5
 2           2041.820645                           5
 3           2041.820645                           5
 4           2041.820215                           5
 ..                  ...                         ...
 672         2906.903309                           6
 673         2906.903309                           6
 674           64.767390                           6
 675           64.767390                           6
 676           64.767390                           6

      Dominant_Mass_Loss_Rate(2)  Eccentricity   Energy_Total  Luminosity(1)  \
 0                             0           0.0   -1727.951283  501055.925514
 1                             5           0.0   -1727.951283  501058.597456
 2                             5           0.0   -1727.951283  501058.597456
 3                             5           0.0   -1727.951283  501058.597456
 4                             5           0.0   -1727.948052  501057.612479
 ..                          ...           ...            ...            ...
 672                           5           0.0    -597.385138  435914.711734
 673                           5           0.0    -597.385138  435914.711734
 674                           5           0.0 -121922.634505  435914.711734
 675                           5           0.0 -121922.634505  435914.711734
 676                           5           0.0 -121922.634505  435914.711734

      ...  Zeta_Hurley_He(2)  Zeta_Soberman(1)  Zeta_Soberman(2)  \
 0    ...          -0.293793         -0.333333         -0.333333
 1    ...          -0.293793         -0.333333         -0.333333
 2    ...          -0.293793         -0.333333         -0.333333
 3    ...          -0.293793         -0.333333         -0.333333
 4    ...          -0.293793         -0.333333         -0.333333
 ..   ...                ...               ...               ...
 672  ...          -0.293793         -0.333333         -0.333333
 673  ...          -0.293793         -0.333333         -0.333333
 674  ...          -0.293793         -0.333333         -0.333333
 675  ...          -0.293793         -0.333333         -0.333333
 676  ...          -0.293793         -0.333333         -0.333333

      Zeta_Soberman_He(1)  Zeta_Soberman_He(2)        dT  dmMT(1)  dmMT(2)  \
 0              -0.333333            -0.333333  0.000000      0.0      0.0
 1              -0.333333            -0.333333  0.000040      0.0      0.0
 2              -0.333333            -0.333333  0.000040      0.0      0.0
 3              -0.333333            -0.333333  0.000040      0.0      0.0
 4              -0.333333            -0.333333  0.000040      0.0      0.0
 ..                   ...                  ...       ...      ...      ...
 672             0.000000            -0.333333  0.000001      0.0      0.0
 673             0.000000            -0.333333  0.000001      0.0      0.0
 674             0.000000            -0.333333  0.000001      0.0      0.0
 675             0.000000            -0.333333  0.000001      0.0      0.0
 676             0.000000            -0.333333  0.000001      0.0      0.0

      dmWinds(1)    dmWinds(2)
 0      0.000000  0.000000e+00
 1      0.000000  0.000000e+00
 2      0.000000  0.000000e+00
 3     -0.000062 -1.391796e-07
 4     -0.000062 -1.391796e-07
 ..          ...           ...
 672    0.000000  0.000000e+00
 673    0.000000  0.000000e+00
 674    0.000000  0.000000e+00
 675    0.000000  0.000000e+00
 676    0.000000  0.000000e+00

 [677 rows x 75 columns],
 'BSE_Supernovae': None,
 'BSE_System_Parameters': {'CE_Alpha': 1.0,
  'CH_on_MS(1)': 0,
  'CH_on_MS(2)': 0,
  'Eccentricity@ZAMS': 0.0,
  'Equilibrated_At_Birth': 0,
  'Error': 0,
  'LBV_Factor': 1.5,
  'Mass@ZAMS(1)': 60.07553013250759,
  'Mass@ZAMS(2)': 14.719169288617774,
  'Merger': 1,
  'Merger_At_Birth': 0,
  'Metallicity@ZAMS(1)': 0.0142,
  'Metallicity@ZAMS(2)': 0.0142,
  'Omega@ZAMS(1)': 0.0,
  'Omega@ZAMS(2)': 0.0,
  'Record_Type': 1,
  'SEED': 1667215001,
  'SN_Kick_Magnitude_Random_Number(1)': 0.12150099943391979,
  'SN_Kick_Magnitude_Random_Number(2)': 0.5433910165447742,
  'SemiMajorAxis@ZAMS': 10.1012210853252,
  'Sigma_Kick_CCSN_BH': 265.0,
  'Sigma_Kick_CCSN_NS': 265.0,
  'Sigma_Kick_ECSN': 30.0,
  'Sigma_Kick_USSN': 30.0,
  'Stellar_Type(1)': 7,
  'Stellar_Type(2)': 1,
  'Stellar_Type@ZAMS(1)': 1,
  'Stellar_Type@ZAMS(2)': 1,
  'Unbound': 0,
  'WR_Factor': 1.0},
 'BSE_Common_Envelopes': {'BE_Fixed(1)': 2.834803526285776e+49,
  'BE_Fixed(2)': 0.0,
  'BE_Kruckow(1)': 2.363988451241135e+49,
  'BE_Kruckow(2)': 0.0,
  'BE_Loveridge(1)': 1.573452421637623e+50,
  'BE_Loveridge(2)': 0.0,
  'BE_Loveridge_Winds(1)': 2.2629217339283076e+50,
  'BE_Loveridge_Winds(2)': 0.0,
  'BE_Nanjing(1)': 5.669607052571552e+49,
  'BE_Nanjing(2)': 0.0,
  'Binding_Energy<CE(1)': 5.669607052571552e+49,
  'Binding_Energy<CE(2)': 0.0,
  'CE_Event_Counter': 1,
  'Double_Core_CE': 0,
  'Eccentricity<CE': 0.0,
  'Eccentricity>CE': 0.0,
  'Immediate_RLOF>CE': 1,
  'Lambda@CE(1)': 0.05,
  'Lambda@CE(2)': 1.0,
  'Lambda_Fixed(1)': 0.1,
  'Lambda_Fixed(2)': 0.1,
  'Lambda_Kruckow(1)': 0.11991613261889901,
  'Lambda_Kruckow(2)': 5.9121055495610975,
  'Lambda_Loveridge(1)': 0.01801645532653196,
  'Lambda_Loveridge(2)': 1e-20,
  'Lambda_Loveridge_Winds(1)': 0.012527183259514296,
  'Lambda_Loveridge_Winds(2)': 1e-20,
  'Lambda_Nanjing(1)': 0.05,
  'Lambda_Nanjing(2)': 1.0,
  'Luminosity<CE(1)': 803081.5517771712,
  'Luminosity<CE(2)': 21506.898939095,
  'MT_History': 6,
  'Mass(1)<CE': 48.464175927175496,
  'Mass(1)>CE': 18.770952371460485,
  'Mass(2)<CE': 14.702699131248472,
  'Mass(2)>CE': 14.702699131248472,
  'Mass_Env(1)': 29.69322355571501,
  'Mass_Env(2)': 0.0,
  'Merger': 1,
  'Optimistic_CE': 0,
  'RLOF(1)': 1,
  'RLOF(2)': 0,
  'Radius(1)<CE': 1926.520196920876,
  'Radius(1)>CE': 1.3770173647088615,
  'Radius(2)<CE': 5.56514800064173,
  'Radius(2)>CE': 5.56514800064173,
  'Record_Type': 1,
  'RocheLobe(1)<CE': 1246.3769890979333,
  'RocheLobe(1)>CE': 3.6629288080686946,
  'RocheLobe(2)<CE': 725.2633259688201,
  'RocheLobe(2)>CE': 3.2761811527228732,
  'SEED': 1667215001,
  'SemiMajorAxis<CE': 2573.0583915426537,
  'SemiMajorAxis>CE': 9.151917716792457,
  'Simultaneous_RLOF': 0,
  'Stellar_Type(1)': 7,
  'Stellar_Type(1)<CE': 4,
  'Stellar_Type(2)': 1,
  'Stellar_Type(2)<CE': 1,
  'Tau_Circ': 0.0,
  'Tau_Dynamical<CE(1)': 6.073232922220201e-07,
  'Tau_Dynamical<CE(2)': 1.7119321462031837e-10,
  'Tau_Nuclear<CE(1)': 0.603477639598708,
  'Tau_Nuclear<CE(2)': 6.836271083471763,
  'Tau_Radial<CE(1)': 3463.3442650011993,
  'Tau_Radial<CE(2)': 1105487074.4574103,
  'Tau_Sync': 0.0,
  'Tau_Thermal<CE(1)': 2.920617026764398e-05,
  'Tau_Thermal<CE(2)': 0.05671125725537151,
  'Teff<CE(1)': 3940.7661740808244,
  'Teff<CE(2)': 29660.852339161745,
  'Time': 4.0934039849732,
  'Zeta_Lobe': 4.011060560120388,
  'Zeta_Star': 0.2986321415656892},
 'BSE_RLOF': {'CEE>MT': 1,
  'Eccentricity<MT': 0.0,
  'Eccentricity>MT': 0.0,
  'MT_Event_Counter': 1,
  'Mass(1)<MT': 48.464175927175496,
  'Mass(1)>MT': 18.770952371460485,
  'Mass(2)<MT': 14.702699131248472,
  'Mass(2)>MT': 14.702699131248472,
  'Merger': 1,
  'RLOF(1)<MT': 0,
  'RLOF(1)>MT': 1,
  'RLOF(2)<MT': 0,
  'RLOF(2)>MT': 0,
  'Radius(1)<MT': 1926.520196920876,
  'Radius(1)>MT': 1.3770173647088615,
  'Radius(1)|RL<step': 1.5456962169328858,
  'Radius(1)|RL>step': 0.37593342291435466,
  'Radius(2)<MT': 5.56514800064173,
  'Radius(2)>MT': 5.56514800064173,
  'Radius(2)|RL<step': 0.007673279209599774,
  'Radius(2)|RL>step': 1.6986691947777277,
  'Record_Type': 1,
  'SEED': 1667215001,
  'SemiMajorAxis<MT': 2573.0583915426537,
  'SemiMajorAxis>MT': 9.151917716792457,
  'Stellar_Type(1)<MT': 4,
  'Stellar_Type(1)>MT': 7,
  'Stellar_Type(2)<MT': 1,
  'Stellar_Type(2)>MT': 1,
  'Time<MT': 4.0934039849732,
  'Time>MT': 4.0934039849732,
  'Zeta_Hurley(1)': -0.2937927635013894,
  'Zeta_Hurley(2)': -0.2937927635013894,
  'Zeta_Hurley_He(1)': 0.0,
  'Zeta_Hurley_He(2)': -0.2937927635013894,
  'Zeta_Soberman(1)': -0.3333333333333333,
  'Zeta_Soberman(2)': -0.3333333333333333,
  'Zeta_Soberman_He(1)': 0.0,
  'Zeta_Soberman_He(2)': -0.3333333333333333}}

In [105]:
compas_out.BSE_System_Parameters[compas_out.BSE_System_Parameters['SEED']==1667215002].index

Int64Index([1], dtype='int64')

In [90]:
compas_out[1667215001]

OSError: Unable to open file (file read failed: time = Tue Nov  1 00:37:56 2022
, filename = '/Users/avaj0001/Documents/projects/compas_dev/COMPAS/src/COMPAS_Output', file descriptor = 72, errno = 21, error message = 'Is a directory', buf = 0x7ff7bf233c88, total read size = 8, bytes this sub-read = 8, bytes actually read = 18446744073709551615, offset = 0)

In [78]:
compas_out.BSE_RLOF.shape

(4, 39)

In [69]:
compas_out = CompasOutput.from_hdf5(outdir='/Users/avaj0001/Documents/projects/compas_dev/compas_ml_surrogate/tests/test_data/COMPAS_Output/')
compas_out.

COMPAS OUTPUT
--outdir: /Users/avaj0001/Documents/projects/compas_dev/compas_ml_surrogate/tests/test_data/COMPAS_Output/,
--Run_Details: 432 rows,
--BSE_Supernovae: 5 rows,
--BSE_System_Parameters: 5 rows,
--BSE_Common_Envelopes: None,
--BSE_RLOF: None,
--number_of_systems: 5,
--detailed_output_exists: False,

In [29]:
import h5py
import os 
import pandas as pd
from pprint import pprint

f = '/Users/avaj0001/Documents/projects/compas_dev/COMPAS/src/COMPAS_Output/COMPAS_Output.h5'

with h5py.File(f, "r") as ff:
    data = recursively_load_dict_contents_from_group(ff, '/')

for k in data:
    print(k)
    pprint(data[k])

BSE_Common_Envelopes
{'BE_Fixed(1)': array([2.83480353e+49, 1.55345259e+48, 0.00000000e+00, 2.20902768e+48]),
 'BE_Fixed(2)': array([0.00000000e+00, 0.00000000e+00, 2.07600249e+48, 0.00000000e+00]),
 'BE_Kruckow(1)': array([2.36398845e+49, 6.79832242e+47, 0.00000000e+00, 6.01654911e+47]),
 'BE_Kruckow(2)': array([0.00000000e+00, 0.00000000e+00, 1.18737497e+47, 0.00000000e+00]),
 'BE_Loveridge(1)': array([1.57345242e+50, 2.35015544e+46, 0.00000000e+00, 1.77180950e+47]),
 'BE_Loveridge(2)': array([0.00000000e+00, 0.00000000e+00, 2.06787668e+47, 0.00000000e+00]),
 'BE_Loveridge_Winds(1)': array([2.26292173e+50, 2.46758349e+46, 0.00000000e+00, 1.77857451e+47]),
 'BE_Loveridge_Winds(2)': array([0.00000000e+00, 0.00000000e+00, 2.06836624e+47, 0.00000000e+00]),
 'BE_Nanjing(1)': array([5.66960705e+49, 3.02583755e+46, 0.00000000e+00, 1.12584019e+46]),
 'BE_Nanjing(2)': array([0.0000000e+00, 0.0000000e+00, 1.3372184e+47, 0.0000000e+00]),
 'Binding_Energy<CE(1)': array([5.66960705e+49, 3.02583755e+46, 0.00000000e+00, 1.12584019e+46]),
 'Binding_Energy<CE(2)': array([0.0000000e+00, 0.0000000e+00, 1.3372184e+47, 0.0000000e+00]),
 'CE_Event_Counter': array([1, 1, 2, 1], dtype=uint32),
 'Double_Core_CE': array([0, 0, 0, 0], dtype=uint8),
 'Eccentricity<CE': array([0., 0., 0., 0.]),
 'Eccentricity>CE': array([0., 0., 0., 0.]),
 'Immediate_RLOF>CE': array([1, 0, 0, 1], dtype=uint8),
 'Lambda@CE(1)': array([ 0.05      ,  5.133959  ,  1.        , 19.62114781]),
 'Lambda@CE(2)': array([1.        , 1.        , 1.55247826, 1.        ]),
 'Lambda_Fixed(1)': array([0.1, 0.1, 0.1, 0.1]),
 'Lambda_Fixed(2)': array([0.1, 0.1, 0.1, 0.1]),
 'Lambda_Kruckow(1)': array([1.19916133e-01, 2.28505284e-01, 6.21884039e+02, 3.67158588e-01]),
 'Lambda_Kruckow(2)': array([ 5.91210555, 14.59068129,  1.74839671, 12.37603448]),
 'Lambda_Loveridge(1)': array([1.80164553e-02, 6.60999933e+00, 1.00000000e-20, 1.24676365e+00]),
 'Lambda_Loveridge(2)': array([1.00000000e-20, 0.00000000e+00, 1.00392954e+00, 0.00000000e+00]),
 'Lambda_Loveridge_Winds(1)': array([1.25271833e-02, 6.29544087e+00, 1.00000000e-20, 1.24202144e+00]),
 'Lambda_Loveridge_Winds(2)': array([1.00000000e-20, 0.00000000e+00, 1.00369193e+00, 0.00000000e+00]),
 'Lambda_Nanjing(1)': array([ 0.05      ,  5.133959  ,  1.        , 19.62114781]),
 'Lambda_Nanjing(2)': array([1.        , 1.        , 1.55247826, 1.        ]),
 'Luminosity<CE(1)': array([8.03081552e+05, 5.69165889e+04, 5.26173678e-05, 1.94230154e+04]),
 'Luminosity<CE(2)': array([2.15068989e+04, 6.43638199e+00, 3.49021907e+02, 4.43259782e+01]),
 'MT_History': array([6, 3, 4, 6], dtype=int32),
 'Mass(1)<CE': array([48.46417593,  6.12957514,  1.23860628,  5.30228557]),
 'Mass(1)>CE': array([18.77095237,  1.23860628,  1.23860628,  1.35472191]),
 'Mass(2)<CE': array([14.70269913,  1.56508331,  1.55660623,  2.47251865]),
 'Mass(2)>CE': array([14.70269913,  1.56508331,  0.34053007,  2.47251865]),
 'Mass_Env(1)': array([29.69322356,  4.89096886,  0.        ,  3.94756366]),
 'Mass_Env(2)': array([0.        , 0.        , 1.21607616, 0.        ]),
 'Merger': array([1, 0, 0, 1], dtype=uint8),
 'Optimistic_CE': array([0, 0, 0, 0], dtype=uint8),
 'RLOF(1)': array([1, 1, 0, 1], dtype=uint8),
 'RLOF(2)': array([0, 0, 1, 0], dtype=uint8),
 'Radius(1)<CE': array([1.92652020e+03, 7.32395416e+02, 5.15852894e-03, 3.59591527e+02]),
 'Radius(1)>CE': array([1.37701736e+00, 5.15852894e-03, 5.15852894e-03, 1.64040579e+02]),
 'Radius(2)<CE': array([ 5.565148  ,  1.43541219, 34.60429586,  1.83745927]),
 'Radius(2)>CE': array([5.565148  , 1.43541219, 0.01718313, 1.83745927]),
 'Record_Type': array([1, 1, 1, 1], dtype=uint32),
 'RocheLobe(1)<CE': array([1246.3769891 ,  727.3138648 ,   31.00259673,  356.87346488]),
 'RocheLobe(1)>CE': array([ 3.66292881, 30.86917543,  2.24061277, 49.24369898]),
 'RocheLobe(2)<CE': array([725.26332597, 391.84129351,  34.41391354, 252.07847247]),
 'RocheLobe(2)>CE': array([ 3.27618115, 34.35088594,  1.24762281, 64.79433823]),
 'SEED': array([1667215001, 1667215003, 1667215003, 1667215004], dtype=uint64),
 'SemiMajorAxis<CE': array([2573.05839154, 1455.93200012,   86.28241873,  799.77724599]),
 'SemiMajorAxis>CE': array([  9.15191772,  86.02153181,   4.54423667, 150.03524184]),
 'Simultaneous_RLOF': array([0, 0, 0, 0], dtype=uint8),
 'Stellar_Type(1)': array([ 7, 12, 12,  9], dtype=int32),
 'Stellar_Type(1)<CE': array([ 4,  6, 12,  5], dtype=int32),
 'Stellar_Type(2)': array([ 1,  1, 10,  1], dtype=int32),
 'Stellar_Type(2)<CE': array([1, 1, 3, 1], dtype=int32),
 'Tau_Circ': array([0., 0., 0., 0.]),
 'Tau_Dynamical<CE(1)': array([6.07323292e-07, 4.00288620e-07, 1.66453209e-14, 1.48065072e-07]),
 'Tau_Dynamical<CE(2)': array([1.71193215e-10, 6.87331456e-11, 8.15784872e-09, 7.92002947e-11]),
 'Tau_Nuclear<CE(1)': array([6.03477640e-01, 1.07694000e+00, 2.35398753e+08, 2.72989825e+00]),
 'Tau_Nuclear<CE(2)': array([   6.83627108, 2431.61967551,   44.59909807,  557.80351706]),
 'Tau_Radial<CE(1)': array([ 3.46334427e+03,  5.44026719e+05, -1.00000000e+00,  1.98293977e+05]),
 'Tau_Radial<CE(2)': array([1.10548707e+09, 6.75006722e+09, 7.04202648e+06, 1.25094649e+09]),
 'Tau_Sync': array([0., 0., 0., 0.]),
 'Tau_Thermal<CE(1)': array([2.92061703e-05, 2.25824178e-05, 1.66453209e-14, 9.41013385e-05]),
 'Tau_Thermal<CE(2)': array([5.67112573e-02, 8.32503611e+00, 4.92137525e-03, 2.35685439e+00]),
 'Teff<CE(1)': array([3940.76617408, 3297.72506342, 6851.67700612, 3597.095566  ]),
 'Teff<CE(2)': array([29660.85233916,  7681.56438487,  4245.46926416, 10998.49493553]),
 'Time': array([   4.09340398,   62.47758244, 2386.89043069,   98.53483743]),
 'Zeta_Lobe': array([4.01106056, 5.21150279, 0.19803359, 1.80686837]),
 'Zeta_Star': array([ 0.29863214, -0.01836505,  0.00707164,  0.06431586])}
BSE_RLOF
{'CEE>MT': array([1, 1, 1, 1], dtype=uint8),
 'Eccentricity<MT': array([0., 0., 0., 0.]),
 'Eccentricity>MT': array([0., 0., 0., 0.]),
 'MT_Event_Counter': array([1, 1, 2, 1], dtype=uint32),
 'Mass(1)<MT': array([48.46417593,  6.12957514,  1.23860628,  5.30228557]),
 'Mass(1)>MT': array([18.77095237,  1.23860628,  1.23860628,  1.35472191]),
 'Mass(2)<MT': array([14.70269913,  1.56508331,  1.55660623,  2.47251865]),
 'Mass(2)>MT': array([14.70269913,  1.56508331,  0.34053007,  2.47251865]),
 'Merger': array([1, 0, 0, 1], dtype=uint8),
 'RLOF(1)<MT': array([0, 0, 0, 0], dtype=uint8),
 'RLOF(1)>MT': array([1, 1, 0, 1], dtype=uint8),
 'RLOF(2)<MT': array([0, 0, 0, 0], dtype=uint8),
 'RLOF(2)>MT': array([0, 0, 1, 0], dtype=uint8),
 'Radius(1)<MT': array([1.92652020e+03, 7.32395416e+02, 5.15852894e-03, 3.59591527e+02]),
 'Radius(1)>MT': array([1.37701736e+00, 5.15852894e-03, 5.15852894e-03, 1.64040579e+02]),
 'Radius(1)|RL<step': array([1.54569622e+00, 1.00698674e+00, 1.66390221e-04, 1.00761632e+00]),
 'Radius(1)|RL>step': array([3.75933423e-01, 1.67109385e-04, 2.30228490e-03, 3.33119938e+00]),
 'Radius(2)<MT': array([ 5.565148  ,  1.43541219, 34.60429586,  1.83745927]),
 'Radius(2)>MT': array([5.565148  , 1.43541219, 0.01718313, 1.83745927]),
 'Radius(2)|RL<step': array([0.00767328, 0.00366325, 1.00553213, 0.00728924]),
 'Radius(2)|RL>step': array([1.69866919, 0.04178676, 0.01377269, 0.02835833]),
 'Record_Type': array([1, 1, 1, 1], dtype=uint32),
 'SEED': array([1667215001, 1667215003, 1667215003, 1667215004], dtype=uint64),
 'SemiMajorAxis<MT': array([2573.05839154, 1455.93200012,   86.28241873,  799.77724599]),
 'SemiMajorAxis>MT': array([  9.15191772,  86.02153181,   4.54423667, 150.03524184]),
 'Stellar_Type(1)<MT': array([ 4,  6, 12,  5], dtype=int32),
 'Stellar_Type(1)>MT': array([ 7, 12, 12,  9], dtype=int32),
 'Stellar_Type(2)<MT': array([1, 1, 3, 1], dtype=int32),
 'Stellar_Type(2)>MT': array([ 1,  1, 10,  1], dtype=int32),
 'Time<MT': array([   4.09340398,   62.47758244, 2386.89043069,   98.53483743]),
 'Time>MT': array([   4.09340398,   62.47758244, 2386.89043069,   98.53483743]),
 'Zeta_Hurley(1)': array([-0.29379276,  0.        ,  0.        ,  0.19350911]),
 'Zeta_Hurley(2)': array([-0.29379276, -0.29379276,  0.        , -0.29379276]),
 'Zeta_Hurley_He(1)': array([0., 0., 0., 0.]),
 'Zeta_Hurley_He(2)': array([-0.29379276, -0.29379276,  0.        , -0.29379276]),
 'Zeta_Soberman(1)': array([-0.33333333,  0.        ,  0.        ,  1.9877355 ]),
 'Zeta_Soberman(2)': array([-0.33333333, -0.33333333,  0.        , -0.33333333]),
 'Zeta_Soberman_He(1)': array([0., 0., 0., 0.]),
 'Zeta_Soberman_He(2)': array([-0.33333333, -0.33333333,  0.        , -0.33333333])}
BSE_Supernovae
{'Applied_Kick_Magnitude(SN)': array([277.10217173]),
 'ComponentSpeed(CP)': array([7.8997139]),
 'ComponentSpeed(SN)': array([261.87321647]),
 'Drawn_Kick_Magnitude(SN)': array([769.65519781]),
 'Eccentricity': array([52.30280609]),
 'Eccentricity<SN': array([0.]),
 'Experienced_RLOF(SN)': array([0], dtype=uint8),
 'Fallback_Fraction(SN)': array([0.63996583]),
 'Is_Hydrogen_Poor(SN)': array([1], dtype=uint8),
 'Kick_Magnitude(uK)': array([8.44469873]),
 'MT_Donor_Hist(SN)': ['NA              '],
 'Mass(CP)': array([34.42572979]),
 'Mass(SN)': array([7.15572183]),
 'Mass_CO_Core@CO(SN)': array([8.06898789]),
 'Mass_Core@CO(SN)': array([8.06898789]),
 'Mass_He_Core@CO(SN)': array([10.55005391]),
 'Mass_Total@CO(SN)': array([10.55005391]),
 'Orb_Velocity<SN': array([32.81374276]),
 'Record_Type': array([1], dtype=uint32),
 'SEED': array([1667215005], dtype=uint64),
 'SN_Kick_Mean_Anomaly(SN)': array([3.05507497]),
 'SN_Kick_Phi(SN)': array([-0.79546232]),
 'SN_Kick_Theta(SN)': array([2.48452832]),
 'SN_Type(SN)': array([1], dtype=int32),
 'SemiMajorAxis': array([-119.23884118]),
 'SemiMajorAxis<SN': array([7965.04238309]),
 'Stellar_Type(CP)': array([1], dtype=int32),
 'Stellar_Type(SN)': array([14], dtype=int32),
 'Stellar_Type_Prev(SN)': array([8], dtype=int32),
 'Supernova_State': array([1], dtype=int32),
 'SystemicSpeed': array([48.77484776]),
 'Time': array([5.07663557]),
 'Unbound': array([1], dtype=uint8)}
BSE_System_Parameters
{'CE_Alpha': array([1., 1., 1., 1., 1.]),
 'CH_on_MS(1)': array([0, 0, 0, 0, 0], dtype=uint8),
 'CH_on_MS(2)': array([0, 0, 0, 0, 0], dtype=uint8),
 'Eccentricity@ZAMS': array([0., 0., 0., 0., 0.]),
 'Equilibrated_At_Birth': array([0, 0, 0, 0, 0], dtype=uint8),
 'Error': array([0, 0, 0, 0, 0], dtype=int32),
 'LBV_Factor': array([1.5, 1.5, 1.5, 1.5, 1.5]),
 'Mass@ZAMS(1)': array([60.07553013,  5.55301709,  6.66616469,  5.42036637, 48.22797632]),
 'Mass@ZAMS(2)': array([14.71916929,  3.03879554,  1.56508331,  2.47251865, 37.30132361]),
 'Merger': array([1, 0, 0, 1, 0], dtype=uint8),
 'Merger_At_Birth': array([0, 0, 0, 0, 0], dtype=uint8),
 'Metallicity@ZAMS(1)': array([0.0142, 0.0142, 0.0142, 0.0142, 0.0142]),
 'Metallicity@ZAMS(2)': array([0.0142, 0.0142, 0.0142, 0.0142, 0.0142]),
 'Omega@ZAMS(1)': array([0., 0., 0., 0., 0.]),
 'Omega@ZAMS(2)': array([0., 0., 0., 0., 0.]),
 'Record_Type': array([1, 1, 1, 1, 1], dtype=uint32),
 'SEED': array([1667215001, 1667215002, 1667215003, 1667215004, 1667215005],
      dtype=uint64),
 'SN_Kick_Magnitude_Random_Number(1)': array([0.121501  , 0.34955113, 0.35381041, 0.35987239, 0.96217804]),
 'SN_Kick_Magnitude_Random_Number(2)': array([0.54339102, 0.09320091, 0.71293475, 0.7032507 , 0.63306752]),
 'SemiMajorAxis@ZAMS': array([10.10122109, 77.82211823,  6.3291895 ,  3.66369535, 19.43263828]),
 'Sigma_Kick_CCSN_BH': array([265., 265., 265., 265., 265.]),
 'Sigma_Kick_CCSN_NS': array([265., 265., 265., 265., 265.]),
 'Sigma_Kick_ECSN': array([30., 30., 30., 30., 30.]),
 'Sigma_Kick_USSN': array([30., 30., 30., 30., 30.]),
 'Stellar_Type(1)': array([ 7, 11, 12,  9, 14], dtype=int32),
 'Stellar_Type(2)': array([ 1, 11, 10,  1,  1], dtype=int32),
 'Stellar_Type@ZAMS(1)': array([1, 1, 1, 1, 1], dtype=int32),
 'Stellar_Type@ZAMS(2)': array([1, 1, 1, 1, 1], dtype=int32),
 'Unbound': array([0, 0, 0, 0, 1], dtype=uint8),
 'WR_Factor': array([1., 1., 1., 1., 1.])}
Run_Details
{'Actual-Random-Seed': array([1667215001], dtype=uint64),
 'Actual-Random-Seed-Derivation': ['CALCULATED   '],
 'COMPAS-Version': ['02.33.01'],
 'COMPAS-Version-Derivation': ['CALCULATED   '],
 'Clock-Time': array([10.862766]),
 'Clock-Time-Derivation': ['CALCULATED   '],
 'Objects-Created': array([5], dtype=int32),
 'Objects-Created-Derivation': ['CALCULATED   '],
 'Objects-Requested': array([5], dtype=int32),
 'Objects-Requested-Derivation': ['CALCULATED   '],
 'PISN-lower-limit': array([60.]),
 'PISN-lower-limit-Derivation': ['DEFAULT_USED '],
 'PISN-upper-limit': array([135.]),
 'PISN-upper-limit-Derivation': ['DEFAULT_USED '],
 'PPI-lower-limit': array([35.]),
 'PPI-lower-limit-Derivation': ['DEFAULT_USED '],
 'PPI-upper-limit': array([60.]),
 'PPI-upper-limit-Derivation': ['DEFAULT_USED '],
 'Run-End': ['Mon Oct 31 22:16:52 2022\n'],
 'Run-End-Derivation': ['CALCULATED   '],
 'Run-Start': ['Mon Oct 31 22:16:41 2022\n'],
 'Run-Start-Derivation': ['CALCULATED   '],
 'Wall-Time': ['0000:00:11'],
 'Wall-Time-Derivation': ['CALCULATED   '],
 'actual-output-path': ['/Users/avaj0001/Documents/projects/compas_dev/COMPAS/src'],
 'actual-output-path-Derivation': ['CALCULATED   '],
 'add-options-to-sysparms': ["'GRID'"],
 'add-options-to-sysparms-Derivation': ['DEFAULT_USED '],
 'allow-non-stripped-ECSN': array([1], dtype=uint8),
 'allow-non-stripped-ECSN-Derivation': ['DEFAULT_USED '],
 'allow-rlof-at-birth': array([1], dtype=uint8),
 'allow-rlof-at-birth-Derivation': ['DEFAULT_USED '],
 'allow-touching-at-birth': array([0], dtype=uint8),
 'allow-touching-at-birth-Derivation': ['DEFAULT_USED '],
 'angular-momentum-conservation-during-circularisation': array([0], dtype=uint8),
 'angular-momentum-conservation-during-circularisation-Derivation': ['DEFAULT_USED '],
 'black-hole-kicks': ["'FALLBACK'"],
 'black-hole-kicks-Derivation': ['DEFAULT_USED '],
 'case-BB-stability-prescription': ["'ALWAYS_STABLE'"],
 'case-BB-stability-prescription-Derivation': ['DEFAULT_USED '],
 'check-photon-tiring-limit': array([0], dtype=uint8),
 'check-photon-tiring-limit-Derivation': ['DEFAULT_USED '],
 'chemically-homogeneous-evolution': ["'PESSIMISTIC'"],
 'chemically-homogeneous-evolution-Derivation': ['DEFAULT_USED '],
 'circularise-binary-during-mass-transfer': array([1], dtype=uint8),
 'circularise-binary-during-mass-transfer-Derivation': ['DEFAULT_USED '],
 'common-envelope-allow-immediate-RLOF-post-CE-survive': array([0], dtype=uint8),
 'common-envelope-allow-immediate-RLOF-post-CE-survive-Derivation': ['DEFAULT_USED '],
 'common-envelope-allow-main-sequence-survive': array([1], dtype=uint8),
 'common-envelope-allow-main-sequence-survive-Derivation': ['DEFAULT_USED '],
 'common-envelope-allow-radiative-envelope-survive': array([0], dtype=uint8),
 'common-envelope-allow-radiative-envelope-survive-Derivation': ['DEFAULT_USED '],
 'common-envelope-alpha': array([1.]),
 'common-envelope-alpha-Derivation': ['DEFAULT_USED '],
 'common-envelope-alpha-thermal': array([1.]),
 'common-envelope-alpha-thermal-Derivation': ['DEFAULT_USED '],
 'common-envelope-lambda': array([0.1]),
 'common-envelope-lambda-Derivation': ['DEFAULT_USED '],
 'common-envelope-lambda-multiplier': array([1.]),
 'common-envelope-lambda-multiplier-Derivation': ['DEFAULT_USED '],
 'common-envelope-lambda-nanjing-enhanced': array([0], dtype=uint8),
 'common-envelope-lambda-nanjing-enhanced-Derivation': ['DEFAULT_USED '],
 'common-envelope-lambda-nanjing-interpolate-in-mass': array([0], dtype=uint8),
 'common-envelope-lambda-nanjing-interpolate-in-mass-Derivation': ['DEFAULT_USED '],
 'common-envelope-lambda-nanjing-interpolate-in-metallicity': array([0], dtype=uint8),
 'common-envelope-lambda-nanjing-interpolate-in-metallicity-Derivation': ['DEFAULT_USED '],
 'common-envelope-lambda-nanjing-use-rejuvenated-mass': array([0], dtype=uint8),
 'common-envelope-lambda-nanjing-use-rejuvenated-mass-Derivation': ['DEFAULT_USED '],
 'common-envelope-lambda-prescription': ["'LAMBDA_NANJING'"],
 'common-envelope-lambda-prescription-Derivation': ['DEFAULT_USED '],
 'common-envelope-mass-accretion-constant': array([0.]),
 'common-envelope-mass-accretion-constant-Derivation': ['DEFAULT_USED '],
 'common-envelope-mass-accretion-max': array([0.1]),
 'common-envelope-mass-accretion-max-Derivation': ['DEFAULT_USED '],
 'common-envelope-mass-accretion-min': array([0.04]),
 'common-envelope-mass-accretion-min-Derivation': ['DEFAULT_USED '],
 'common-envelope-mass-accretion-prescription': ["'ZERO'"],
 'common-envelope-mass-accretion-prescription-Derivation': ['DEFAULT_USED '],
 'common-envelope-recombination-energy-density': array([1.5e+13]),
 'common-envelope-recombination-energy-density-Derivation': ['DEFAULT_USED '],
 'common-envelope-slope-kruckow': array([-0.833333]),
 'common-envelope-slope-kruckow-Derivation': ['DEFAULT_USED '],
 'convective-envelope-temperature-threshold': array([5370.]),
 'convective-envelope-temperature-threshold-Derivation': ['DEFAULT_USED '],
 'cool-wind-mass-loss-multiplier': array([1.]),
 'cool-wind-mass-loss-multiplier-Derivation': ['DEFAULT_USED '],
 'critical-mass-ratio-HG-degenerate-accretor': array([0.21]),
 'critical-mass-ratio-HG-degenerate-accretor-Derivation': ['DEFAULT_USED '],
 'critical-mass-ratio-HG-non-degenerate-accretor': array([0.25]),
 'critical-mass-ratio-HG-non-degenerate-accretor-Derivation': ['DEFAULT_USED '],
 'critical-mass-ratio-MS-high-mass-degenerate-accretor': array([0.]),
 'critical-mass-ratio-MS-high-mass-degenerate-accretor-Derivation': ['DEFAULT_USED '],
 'critical-mass-ratio-MS-high-mass-non-degenerate-accretor': array([0.625]),
 'critical-mass-ratio-MS-high-mass-non-degenerate-accretor-Derivation': ['DEFAULT_USED '],
 'critical-mass-ratio-MS-low-mass-degenerate-accretor': array([1.]),
 'critical-mass-ratio-MS-low-mass-degenerate-accretor-Derivation': ['DEFAULT_USED '],
 'critical-mass-ratio-MS-low-mass-non-degenerate-accretor': array([1.44]),
 'critical-mass-ratio-MS-low-mass-non-degenerate-accretor-Derivation': ['DEFAULT_USED '],
 'critical-mass-ratio-giant-degenerate-accretor': array([0.87]),
 'critical-mass-ratio-giant-degenerate-accretor-Derivation': ['DEFAULT_USED '],
 'critical-mass-ratio-giant-non-degenerate-accretor': array([-1.]),
 'critical-mass-ratio-giant-non-degenerate-accretor-Derivation': ['DEFAULT_USED '],
 'critical-mass-ratio-helium-HG-degenerate-accretor': array([0.21]),
 'critical-mass-ratio-helium-HG-degenerate-accretor-Derivation': ['DEFAULT_USED '],
 'critical-mass-ratio-helium-HG-non-degenerate-accretor': array([0.25]),
 'critical-mass-ratio-helium-HG-non-degenerate-accretor-Derivation': ['DEFAULT_USED '],
 'critical-mass-ratio-helium-MS-degenerate-accretor': array([0.]),
 'critical-mass-ratio-helium-MS-degenerate-accretor-Derivation': ['DEFAULT_USED '],
 'critical-mass-ratio-helium-MS-non-degenerate-accretor': array([0.]),
 'critical-mass-ratio-helium-MS-non-degenerate-accretor-Derivation': ['DEFAULT_USED '],
 'critical-mass-ratio-helium-giant-degenerate-accretor': array([0.87]),
 'critical-mass-ratio-helium-giant-degenerate-accretor-Derivation': ['DEFAULT_USED '],
 'critical-mass-ratio-helium-giant-non-degenerate-accretor': array([1.28]),
 'critical-mass-ratio-helium-giant-non-degenerate-accretor-Derivation': ['DEFAULT_USED '],
 'critical-mass-ratio-prescription': ["'NONE'"],
 'critical-mass-ratio-prescription-Derivation': ['DEFAULT_USED '],
 'critical-mass-ratio-white-dwarf-degenerate-accretor': array([1.6]),
 'critical-mass-ratio-white-dwarf-degenerate-accretor-Derivation': ['DEFAULT_USED '],
 'critical-mass-ratio-white-dwarf-non-degenerate-accretor': array([0.]),
 'critical-mass-ratio-white-dwarf-non-degenerate-accretor-Derivation': ['DEFAULT_USED '],
 'debug-classes': ['{ }'],
 'debug-classes-Derivation': ['DEFAULT_USED '],
 'debug-level': array([0], dtype=int32),
 'debug-level-Derivation': ['DEFAULT_USED '],
 'debug-to-file': array([0], dtype=uint8),
 'debug-to-file-Derivation': ['DEFAULT_USED '],
 'detailed-output': array([1], dtype=uint8),
 'detailed-output-Derivation': ['USER_SUPPLIED'],
 'eccentricity': array([0.]),

 'quiet': array([0], dtype=uint8),
 'quiet-Derivation': ['DEFAULT_USED '],
 'random-seed': array([0], dtype=uint64),
 'random-seed-Derivation': ['DEFAULT_USED '],
 'remnant-mass-prescription': ["'FRYER2012'"],
 'remnant-mass-prescription-Derivation': ['DEFAULT_USED '],
 'retain-core-mass-during-caseA-mass-transfer': array([0], dtype=uint8),
 'retain-core-mass-during-caseA-mass-transfer-Derivation': ['DEFAULT_USED '],
 'revised-energy-formalism-nandez-ivanova': array([0], dtype=uint8),
 'revised-energy-formalism-nandez-ivanova-Derivation': ['DEFAULT_USED '],
 'rlof-printing': array([1], dtype=uint8),
 'rlof-printing-Derivation': ['DEFAULT_USED '],
 'rotational-frequency': array([0.]),
 'rotational-frequency-1': array([0.]),
 'rotational-frequency-1-Derivation': ['DEFAULT_USED '],
 'rotational-frequency-2': array([0.]),
 'rotational-frequency-2-Derivation': ['DEFAULT_USED '],
 'rotational-frequency-Derivation': ['DEFAULT_USED '],
 'rotational-velocity-distribution': ["'ZERO'"],
 'rotational-velocity-distribution-Derivation': ['DEFAULT_USED '],
 'semi-major-axis': array([0.1]),
 'semi-major-axis-Derivation': ['DEFAULT_USED '],
 'semi-major-axis-distribution': ["'FLATINLOG'"],
 'semi-major-axis-distribution-Derivation': ['DEFAULT_USED '],
 'semi-major-axis-max': array([1000.]),
 'semi-major-axis-max-Derivation': ['DEFAULT_USED '],
 'semi-major-axis-min': array([0.01]),
 'semi-major-axis-min-Derivation': ['DEFAULT_USED '],
 'stellar-zeta-prescription': ["'SOBERMAN'"],
 'stellar-zeta-prescription-Derivation': ['DEFAULT_USED '],
 'store-input-files': array([1], dtype=uint8),
 'store-input-files-Derivation': ['DEFAULT_USED '],
 'switch-log': array([0], dtype=uint8),
 'switch-log-Derivation': ['DEFAULT_USED '],
 'timestep-multiplier': array([1.]),
 'timestep-multiplier-Derivation': ['DEFAULT_USED '],
 'use-mass-loss': array([1], dtype=uint8),
 'use-mass-loss-Derivation': ['DEFAULT_USED '],
 'useFixedUK': array([0], dtype=uint8),
 'useFixedUK-Derivation': ['CALCULATED   '],
 'version': array([0], dtype=uint8),
 'version-Derivation': ['DEFAULT_USED '],
 'wolf-rayet-multiplier': array([1.]),
 'wolf-rayet-multiplier-Derivation': ['DEFAULT_USED '],
 'zeta-adiabatic-arbitrary': array([10000.]),
 'zeta-adiabatic-arbitrary-Derivation': ['DEFAULT_USED '],
 'zeta-main-sequence': array([2.]),
 'zeta-main-sequence-Derivation': ['DEFAULT_USED '],
 'zeta-radiative-envelope-giant': array([6.5]),
 'zeta-radiative-envelope-giant-Derivation': ['DEFAULT_USED ']}

In [33]:
pd.DataFrame(data['Run_Details']).to_dict('records')[0]

[{'Actual-Random-Seed': 1667215001,
  'Actual-Random-Seed-Derivation': 'CALCULATED   ',
  'COMPAS-Version': '02.33.01',
  'COMPAS-Version-Derivation': 'CALCULATED   ',
  'Clock-Time': 10.862766,
  'Clock-Time-Derivation': 'CALCULATED   ',
  'Objects-Created': 5,
  'Objects-Created-Derivation': 'CALCULATED   ',
  'Objects-Requested': 5,
  'Objects-Requested-Derivation': 'CALCULATED   ',
  'PISN-lower-limit': 60.0,
  'PISN-lower-limit-Derivation': 'DEFAULT_USED ',
  'PISN-upper-limit': 135.0,
  'PISN-upper-limit-Derivation': 'DEFAULT_USED ',
  'PPI-lower-limit': 35.0,
  'PPI-lower-limit-Derivation': 'DEFAULT_USED ',
  'PPI-upper-limit': 60.0,
  'PPI-upper-limit-Derivation': 'DEFAULT_USED ',
  'Run-End': 'Mon Oct 31 22:16:52 2022\n',
  'Run-End-Derivation': 'CALCULATED   ',
  'Run-Start': 'Mon Oct 31 22:16:41 2022\n',
  'Run-Start-Derivation': 'CALCULATED   ',
  'Wall-Time': '0000:00:11',
  'Wall-Time-Derivation': 'CALCULATED   ',
  'actual-output-path': '/Users/avaj0001/Documents/projects/compas_dev/COMPAS/src',
  'actual-output-path-Derivation': 'CALCULATED   ',
  'add-options-to-sysparms': "'GRID'",
  'add-options-to-sysparms-Derivation': 'DEFAULT_USED ',
  'allow-non-stripped-ECSN': 1,
  'allow-non-stripped-ECSN-Derivation': 'DEFAULT_USED ',
  'allow-rlof-at-birth': 1,
  'allow-rlof-at-birth-Derivation': 'DEFAULT_USED ',
  'allow-touching-at-birth': 0,
  'allow-touching-at-birth-Derivation': 'DEFAULT_USED ',
  'angular-momentum-conservation-during-circularisation': 0,
  'angular-momentum-conservation-during-circularisation-Derivation': 'DEFAULT_USED ',
  'black-hole-kicks': "'FALLBACK'",
  'black-hole-kicks-Derivation': 'DEFAULT_USED ',
  'case-BB-stability-prescription': "'ALWAYS_STABLE'",
  'case-BB-stability-prescription-Derivation': 'DEFAULT_USED ',
  'check-photon-tiring-limit': 0,
  'check-photon-tiring-limit-Derivation': 'DEFAULT_USED ',
  'chemically-homogeneous-evolution': "'PESSIMISTIC'",
  'chemically-homogeneous-evolution-Derivation': 'DEFAULT_USED ',
  'circularise-binary-during-mass-transfer': 1,
  'circularise-binary-during-mass-transfer-Derivation': 'DEFAULT_USED ',
  'common-envelope-allow-immediate-RLOF-post-CE-survive': 0,
  'common-envelope-allow-immediate-RLOF-post-CE-survive-Derivation': 'DEFAULT_USED ',
  'common-envelope-allow-main-sequence-survive': 1,
  'common-envelope-allow-main-sequence-survive-Derivation': 'DEFAULT_USED ',
  'common-envelope-allow-radiative-envelope-survive': 0,
  'common-envelope-allow-radiative-envelope-survive-Derivation': 'DEFAULT_USED ',
  'common-envelope-alpha': 1.0,
  'common-envelope-alpha-Derivation': 'DEFAULT_USED ',
  'common-envelope-alpha-thermal': 1.0,
  'common-envelope-alpha-thermal-Derivation': 'DEFAULT_USED ',
  'common-envelope-lambda': 0.1,
  'common-envelope-lambda-Derivation': 'DEFAULT_USED ',
  'common-envelope-lambda-multiplier': 1.0,
  'common-envelope-lambda-multiplier-Derivation': 'DEFAULT_USED ',
  'common-envelope-lambda-nanjing-enhanced': 0,
  'common-envelope-lambda-nanjing-enhanced-Derivation': 'DEFAULT_USED ',
  'common-envelope-lambda-nanjing-interpolate-in-mass': 0,
  'common-envelope-lambda-nanjing-interpolate-in-mass-Derivation': 'DEFAULT_USED ',
  'common-envelope-lambda-nanjing-interpolate-in-metallicity': 0,
  'common-envelope-lambda-nanjing-interpolate-in-metallicity-Derivation': 'DEFAULT_USED ',
  'common-envelope-lambda-nanjing-use-rejuvenated-mass': 0,
  'common-envelope-lambda-nanjing-use-rejuvenated-mass-Derivation': 'DEFAULT_USED ',
  'common-envelope-lambda-prescription': "'LAMBDA_NANJING'",
  'common-envelope-lambda-prescription-Derivation': 'DEFAULT_USED ',
  'common-envelope-mass-accretion-constant': 0.0,
  'common-envelope-mass-accretion-constant-Derivation': 'DEFAULT_USED ',
  'common-envelope-mass-accretion-max': 0.1,
  'common-envelope-mass-accretion-max-Derivation': 'DEFAULT_USED ',
  'common-envelope-mass-accretion-min': 0.04,
  'common-envelope-mass-accretion-min-Derivation': 'DEFAULT_USED ',
  'common-envelope-mass-accretion-prescription': "'ZERO'",
  'common-envelope-mass-accretion-prescription-Derivation': 'DEFAULT_USED ',
  'common-envelope-recombination-energy-density': 15000000000000.0,
  'common-envelope-recombination-energy-density-Derivation': 'DEFAULT_USED ',
  'common-envelope-slope-kruckow': -0.833333,
  'common-envelope-slope-kruckow-Derivation': 'DEFAULT_USED ',
  'convective-envelope-temperature-threshold': 5370.0,
  'convective-envelope-temperature-threshold-Derivation': 'DEFAULT_USED ',
  'cool-wind-mass-loss-multiplier': 1.0,
  'cool-wind-mass-loss-multiplier-Derivation': 'DEFAULT_USED ',
  'critical-mass-ratio-HG-degenerate-accretor': 0.21,
  'critical-mass-ratio-HG-degenerate-accretor-Derivation': 'DEFAULT_USED ',
  'critical-mass-ratio-HG-non-degenerate-accretor': 0.25,
  'critical-mass-ratio-HG-non-degenerate-accretor-Derivation': 'DEFAULT_USED ',
  'critical-mass-ratio-MS-high-mass-degenerate-accretor': 0.0,
  'critical-mass-ratio-MS-high-mass-degenerate-accretor-Derivation': 'DEFAULT_USED ',
  'critical-mass-ratio-MS-high-mass-non-degenerate-accretor': 0.625,
  'critical-mass-ratio-MS-high-mass-non-degenerate-accretor-Derivation': 'DEFAULT_USED ',
  'critical-mass-ratio-MS-low-mass-degenerate-accretor': 1.0,
  'critical-mass-ratio-MS-low-mass-degenerate-accretor-Derivation': 'DEFAULT_USED ',
  'critical-mass-ratio-MS-low-mass-non-degenerate-accretor': 1.44,
  'critical-mass-ratio-MS-low-mass-non-degenerate-accretor-Derivation': 'DEFAULT_USED ',
  'critical-mass-ratio-giant-degenerate-accretor': 0.87,
  'critical-mass-ratio-giant-degenerate-accretor-Derivation': 'DEFAULT_USED ',
  'critical-mass-ratio-giant-non-degenerate-accretor': -1.0,
  'critical-mass-ratio-giant-non-degenerate-accretor-Derivation': 'DEFAULT_USED ',
  'critical-mass-ratio-helium-HG-degenerate-accretor': 0.21,
  'critical-mass-ratio-helium-HG-degenerate-accretor-Derivation': 'DEFAULT_USED ',
  'critical-mass-ratio-helium-HG-non-degenerate-accretor': 0.25,
  'critical-mass-ratio-helium-HG-non-degenerate-accretor-Derivation': 'DEFAULT_USED ',
  'critical-mass-ratio-helium-MS-degenerate-accretor': 0.0,
  'critical-mass-ratio-helium-MS-degenerate-accretor-Derivation': 'DEFAULT_USED ',
  'critical-mass-ratio-helium-MS-non-degenerate-accretor': 0.0,
  'critical-mass-ratio-helium-MS-non-degenerate-accretor-Derivation': 'DEFAULT_USED ',
  'critical-mass-ratio-helium-giant-degenerate-accretor': 0.87,
  'critical-mass-ratio-helium-giant-degenerate-accretor-Derivation': 'DEFAULT_USED ',
  'critical-mass-ratio-helium-giant-non-degenerate-accretor': 1.28,
  'critical-mass-ratio-helium-giant-non-degenerate-accretor-Derivation': 'DEFAULT_USED ',
  'critical-mass-ratio-prescription': "'NONE'",
  'critical-mass-ratio-prescription-Derivation': 'DEFAULT_USED ',
  'critical-mass-ratio-white-dwarf-degenerate-accretor': 1.6,
  'critical-mass-ratio-white-dwarf-degenerate-accretor-Derivation': 'DEFAULT_USED ',
  'critical-mass-ratio-white-dwarf-non-degenerate-accretor': 0.0,
  'critical-mass-ratio-white-dwarf-non-degenerate-accretor-Derivation': 'DEFAULT_USED ',
  'debug-classes': '{ }',
  'debug-classes-Derivation': 'DEFAULT_USED ',
  'debug-level': 0,
  'debug-level-Derivation': 'DEFAULT_USED ',
  'debug-to-file': 0,
  'debug-to-file-Derivation': 'DEFAULT_USED ',
  'detailed-output': 1,
  'detailed-output-Derivation': 'USER_SUPPLIED',
  'eccentricity': 0.0,
  'eccentricity-Derivation': 'DEFAULT_USED ',
  'eccentricity-distribution': "'ZERO'",
  'eccentricity-distribution-Derivation': 'DEFAULT_USED ',
  'eccentricity-max': 1.0,
  'eccentricity-max-Derivation': 'DEFAULT_USED ',
  'eccentricity-min': 0.0,
  'eccentricity-min-Derivation': 'DEFAULT_USED ',
  'eddington-accretion-factor': 1.0,
  'eddington-accretion-factor-Derivation': 'DEFAULT_USED ',
  'enable-warnings': 0,
  'enable-warnings-Derivation': 'DEFAULT_USED ',
  'envelope-state-prescription': "'LEGACY'",
  'envelope-state-prescription-Derivation': 'DEFAULT_USED ',
  'errors-to-file': 0,
  'errors-to-file-Derivation': 'DEFAULT_USED ',
  'evolve-pulsars': 0,
  'evolve-pulsars-Derivation': 'DEFAULT_USED ',
  'evolve-unbound-systems': 0,
  'evolve-unbound-systems-Derivation': 'DEFAULT_USED ',
  'fix-dimensionless-kick-magnitude': -1.0,
  'fix-dimensionless-kick-magnitude-Derivation': 'DEFAULT_USED ',
  'fixedRandomSeed': 0,
  'fixedRandomSeed-Derivation': 'CALCULATED   ',
  'fryer-22-fmix': 0.5,
  'fryer-22-fmix-Derivation': 'DEFAULT_USED ',
  'fryer-22-mcrit': 5.75,
  'fryer-22-mcrit-Derivation': 'DEFAULT_USED ',
  'fryer-supernova-engine': "'DELAYED'",
  'fryer-supernova-engine-Derivation': 'DEFAULT_USED ',
  'grid': "''",
  'grid-Derivation': 'DEFAULT_USED ',
  'grid-lines-to-process': 9223372036854775807,
  'grid-lines-to-process-Derivation': 'DEFAULT_USED ',
  'grid-start-line': 0,
  'grid-start-line-Derivation': 'DEFAULT_USED ',
  'hdf5-buffer-size': 1,
  'hdf5-buffer-size-Derivation': 'DEFAULT_USED ',
  'hdf5-chunk-size': 100000,
  'hdf5-chunk-size-Derivation': 'DEFAULT_USED ',
  'help': 0,
  'help-Derivation': 'DEFAULT_USED ',
  'hmxr-binaries': 0,
  'hmxr-binaries-Derivation': 'DEFAULT_USED ',
  'initial-mass': 5.0,
  'initial-mass-1': 5.0,
  'initial-mass-1-Derivation': 'DEFAULT_USED ',
  'initial-mass-2': 5.0,
  'initial-mass-2-Derivation': 'DEFAULT_USED ',
  'initial-mass-Derivation': 'DEFAULT_USED ',
  'initial-mass-function': "'KROUPA'",
  'initial-mass-function-Derivation': 'DEFAULT_USED ',
  'initial-mass-max': 150.0,
  'initial-mass-max-Derivation': 'DEFAULT_USED ',
  'initial-mass-min': 5.0,
  'initial-mass-min-Derivation': 'DEFAULT_USED ',
  'initial-mass-power': 0.0,
  'initial-mass-power-Derivation': 'DEFAULT_USED ',
  'kick-direction': "'ISOTROPIC'",
  'kick-direction-Derivation': 'DEFAULT_USED ',
  'kick-direction-power': 0.0,
  'kick-direction-power-Derivation': 'DEFAULT_USED ',
  'kick-magnitude': 0.0,
  'kick-magnitude-1': 0.0,
  'kick-magnitude-1-Derivation': 'DEFAULT_USED ',
  'kick-magnitude-2': 0.0,
  'kick-magnitude-2-Derivation': 'DEFAULT_USED ',
  'kick-magnitude-Derivation': 'DEFAULT_USED ',
  'kick-magnitude-distribution': "'MAXWELLIAN'",
  'kick-magnitude-distribution-Derivation': 'DEFAULT_USED ',
  'kick-magnitude-max': -1.0,
  'kick-magnitude-max-Derivation': 'DEFAULT_USED ',
  'kick-magnitude-random': 0.0,
  'kick-magnitude-random-1': 0.0,
  'kick-magnitude-random-1-Derivation': 'DEFAULT_USED ',
  'kick-magnitude-random-2': 0.0,
  'kick-magnitude-random-2-Derivation': 'DEFAULT_USED ',
  'kick-magnitude-random-Derivation': 'DEFAULT_USED ',
  'kick-magnitude-sigma-CCSN-BH': 265.0,
  'kick-magnitude-sigma-CCSN-BH-Derivation': 'DEFAULT_USED ',
  'kick-magnitude-sigma-CCSN-NS': 265.0,
  'kick-magnitude-sigma-CCSN-NS-Derivation': 'DEFAULT_USED ',
  'kick-magnitude-sigma-ECSN': 30.0,
  'kick-magnitude-sigma-ECSN-Derivation': 'DEFAULT_USED ',
  'kick-magnitude-sigma-USSN': 30.0,
  'kick-magnitude-sigma-USSN-Derivation': 'DEFAULT_USED ',
  'kick-mean-anomaly-1': 0.0,
  'kick-mean-anomaly-1-Derivation': 'DEFAULT_USED ',
  'kick-mean-anomaly-2': 0.0,
  'kick-mean-anomaly-2-Derivation': 'DEFAULT_USED ',
  'kick-phi-1': 0.0,
  'kick-phi-1-Derivation': 'DEFAULT_USED ',
  'kick-phi-2': 0.0,
  'kick-phi-2-Derivation': 'DEFAULT_USED ',
  'kick-scaling-factor': 1.0,
  'kick-scaling-factor-Derivation': 'DEFAULT_USED ',
  'kick-theta-1': 0.0,
  'kick-theta-1-Derivation': 'DEFAULT_USED ',
  'kick-theta-2': 0.0,
  'kick-theta-2-Derivation': 'DEFAULT_USED ',
  'log-classes': '{ }',
  'log-classes-Derivation': 'DEFAULT_USED ',
  'log-level': 0,
  'log-level-Derivation': 'DEFAULT_USED ',
  'logfile-common-envelopes': "'BSE_Common_Envelopes'",
  'logfile-common-envelopes-Derivation': 'DEFAULT_USED ',
  'logfile-common-envelopes-record-types': -1,
  'logfile-common-envelopes-record-types-Derivation': 'DEFAULT_USED ',
  'logfile-definitions': "''",
  'logfile-definitions-Derivation': 'DEFAULT_USED ',
  'logfile-detailed-output': "'BSE_Detailed_Output'",
  'logfile-detailed-output-Derivation': 'DEFAULT_USED ',
  'logfile-detailed-output-record-types': -1,
  'logfile-detailed-output-record-types-Derivation': 'DEFAULT_USED ',
  'logfile-double-compact-objects': "'BSE_Double_Compact_Objects'",
  'logfile-double-compact-objects-Derivation': 'DEFAULT_USED ',
  'logfile-double-compact-objects-record-types': -1,
  'logfile-double-compact-objects-record-types-Derivation': 'DEFAULT_USED ',
  'logfile-name-prefix': "''",
  'logfile-name-prefix-Derivation': 'DEFAULT_USED ',
  'logfile-pulsar-evolution': "'BSE_Pulsar_Evolution'",
  'logfile-pulsar-evolution-Derivation': 'DEFAULT_USED ',
  'logfile-pulsar-evolution-record-types': -1,
  'logfile-pulsar-evolution-record-types-Derivation': 'DEFAULT_USED ',
  'logfile-rlof-parameters': "'BSE_RLOF'",
  'logfile-rlof-parameters-Derivation': 'DEFAULT_USED ',
  'logfile-rlof-parameters-record-types': -1,
  'logfile-rlof-parameters-record-types-Derivation': 'DEFAULT_USED ',
  'logfile-supernovae': "'BSE_Supernovae'",
  'logfile-supernovae-Derivation': 'DEFAULT_USED ',
  'logfile-supernovae-record-types': -1,
  'logfile-supernovae-record-types-Derivation': 'DEFAULT_USED ',
  'logfile-switch-log': "'BSE_Switch_Log'",
  'logfile-switch-log-Derivation': 'DEFAULT_USED ',
  'logfile-system-parameters': "'BSE_System_Parameters'",
  'logfile-system-parameters-Derivation': 'DEFAULT_USED ',
  'logfile-system-parameters-record-types': -1,
  'logfile-system-parameters-record-types-Derivation': 'DEFAULT_USED ',
  'logfile-type': "'HDF5'",
  'logfile-type-Derivation': 'DEFAULT_USED ',
  'luminous-blue-variable-multiplier': 1.5,
  'luminous-blue-variable-multiplier-Derivation': 'DEFAULT_USED ',
  'luminous-blue-variable-prescription': "'HURLEY_ADD'",
  'luminous-blue-variable-prescription-Derivation': 'DEFAULT_USED ',
  'mass-loss-prescription': "'VINK'",
  'mass-loss-prescription-Derivation': 'DEFAULT_USED ',
  'mass-ratio': 1.0,
  'mass-ratio-Derivation': 'DEFAULT_USED ',
  'mass-ratio-distribution': "'FLAT'",
  'mass-ratio-distribution-Derivation': 'DEFAULT_USED ',
  'mass-ratio-max': 1.0,
  'mass-ratio-max-Derivation': 'DEFAULT_USED ',
  'mass-ratio-min': 0.01,
  'mass-ratio-min-Derivation': 'DEFAULT_USED ',
  'mass-transfer': 1,
  'mass-transfer-Derivation': 'DEFAULT_USED ',
  'mass-transfer-accretion-efficiency-prescription': "'THERMAL'",
  'mass-transfer-accretion-efficiency-prescription-Derivation': 'DEFAULT_USED ',
  'mass-transfer-angular-momentum-loss-prescription': "'ISOTROPIC'",
  'mass-transfer-angular-momentum-loss-prescription-Derivation': 'DEFAULT_USED ',
  'mass-transfer-fa': 0.5,
  'mass-transfer-fa-Derivation': 'DEFAULT_USED ',
  'mass-transfer-jloss': 1.0,
  'mass-transfer-jloss-Derivation': 'DEFAULT_USED ',
  'mass-transfer-jloss-macleod-linear-fraction': 0.5,
  'mass-transfer-jloss-macleod-linear-fraction-Derivation': 'DEFAULT_USED ',
  'mass-transfer-rejuvenation-prescription': "'STARTRACK'",
  'mass-transfer-rejuvenation-prescription-Derivation': 'DEFAULT_USED ',
  'mass-transfer-thermal-limit-C': 10.0,
  'mass-transfer-thermal-limit-C-Derivation': 'DEFAULT_USED ',
  'mass-transfer-thermal-limit-accretor': "'CFACTOR'",
  'mass-transfer-thermal-limit-accretor-Derivation': 'DEFAULT_USED ',
  'maximum-evolution-time': 13700.0,
  'maximum-evolution-time-Derivation': 'DEFAULT_USED ',
  'maximum-mass-donor-nandez-ivanova': 2.0,
  'maximum-mass-donor-nandez-ivanova-Derivation': 'DEFAULT_USED ',
  'maximum-neutron-star-mass': 2.5,
  'maximum-neutron-star-mass-Derivation': 'DEFAULT_USED ',
  'maximum-number-timestep-iterations': 99999,
  'maximum-number-timestep-iterations-Derivation': 'DEFAULT_USED ',
  'mcbur1': 1.6,
  'mcbur1-Derivation': 'DEFAULT_USED ',
  'metallicity': 0.0142,
  'metallicity-Derivation': 'DEFAULT_USED ',
  'metallicity-distribution': "'ZSOLAR'",
  'metallicity-distribution-Derivation': 'DEFAULT_USED ',
  'metallicity-max': 0.03,
  'metallicity-max-Derivation': 'DEFAULT_USED ',
  'metallicity-min': 0.0001,
  'metallicity-min-Derivation': 'DEFAULT_USED ',
  'minimum-secondary-mass': 0.1,
  'minimum-secondary-mass-Derivation': 'DEFAULT_USED ',
  'mode': "'BSE'",
  'mode-Derivation': 'DEFAULT_USED ',
  'muller-mandel-kick-multiplier-BH': 200.0,
  'muller-mandel-kick-multiplier-BH-Derivation': 'DEFAULT_USED ',
  'muller-mandel-kick-multiplier-NS': 400.0,
  'muller-mandel-kick-multiplier-NS-Derivation': 'DEFAULT_USED ',
  'muller-mandel-sigma-kick': 0.3,
  'muller-mandel-sigma-kick-Derivation': 'DEFAULT_USED ',
  'neutrino-mass-loss-BH-formation': "'FIXED_MASS'",
  'neutrino-mass-loss-BH-formation-Derivation': 'DEFAULT_USED ',
  'neutrino-mass-loss-BH-formation-value': 0.1,
  'neutrino-mass-loss-BH-formation-value-Derivation': 'DEFAULT_USED ',
  'neutron-star-equation-of-state': "'SSE'",
  'neutron-star-equation-of-state-Derivation': 'DEFAULT_USED ',
  'notes': '{ }',
  'notes-Derivation': 'DEFAULT_USED ',
  'notes-hdrs': '{ }',
  'notes-hdrs-Derivation': 'DEFAULT_USED ',
  'number-of-systems': 5,
  'number-of-systems-Derivation': 'USER_SUPPLIED',
  'orbital-period': 0.1,
  'orbital-period-Derivation': 'DEFAULT_USED ',
  'orbital-period-distribution': "'FLATINLOG'",
  'orbital-period-distribution-Derivation': 'DEFAULT_USED ',
  'orbital-period-max': 1000.0,
  'orbital-period-max-Derivation': 'DEFAULT_USED ',
  'orbital-period-min': 1.1,
  'orbital-period-min-Derivation': 'DEFAULT_USED ',
  'output-container': "'COMPAS_Output'",
  'output-container-Derivation': 'DEFAULT_USED ',
  'output-path': "'.'",
  'output-path-Derivation': 'DEFAULT_USED ',
  'overall-wind-mass-loss-multiplier': 1.0,
  'overall-wind-mass-loss-multiplier-Derivation': 'DEFAULT_USED ',
  'pair-instability-supernovae': 1,
  'pair-instability-supernovae-Derivation': 'DEFAULT_USED ',
  'population-data-printing': 0,
  'population-data-printing-Derivation': 'DEFAULT_USED ',
  'print-bool-as-string': 0,
  'print-bool-as-string-Derivation': 'DEFAULT_USED ',
  'pulsar-birth-magnetic-field-distribution': "'ZERO'",
  'pulsar-birth-magnetic-field-distribution-Derivation': 'DEFAULT_USED ',
  'pulsar-birth-magnetic-field-distribution-max': 13.0,
  'pulsar-birth-magnetic-field-distribution-max-Derivation': 'DEFAULT_USED ',
  'pulsar-birth-magnetic-field-distribution-min': 11.0,
  'pulsar-birth-magnetic-field-distribution-min-Derivation': 'DEFAULT_USED ',
  'pulsar-birth-spin-period-distribution': "'ZERO'",
  'pulsar-birth-spin-period-distribution-Derivation': 'DEFAULT_USED ',
  'pulsar-birth-spin-period-distribution-max': 100.0,
  'pulsar-birth-spin-period-distribution-max-Derivation': 'DEFAULT_USED ',
  'pulsar-birth-spin-period-distribution-min': 10.0,
  'pulsar-birth-spin-period-distribution-min-Derivation': 'DEFAULT_USED ',
  'pulsar-magnetic-field-decay-massscale': 0.025,
  'pulsar-magnetic-field-decay-massscale-Derivation': 'DEFAULT_USED ',
  'pulsar-magnetic-field-decay-timescale': 1000.0,
  'pulsar-magnetic-field-decay-timescale-Derivation': 'DEFAULT_USED ',
  'pulsar-minimum-magnetic-field': 8.0,
  'pulsar-minimum-magnetic-field-Derivation': 'DEFAULT_USED ',
  'pulsational-pair-instability': 1,
  'pulsational-pair-instability-Derivation': 'DEFAULT_USED ',
  'pulsational-pair-instability-prescription': "'MARCHANT'",
  'pulsational-pair-instability-prescription-Derivation': 'DEFAULT_USED ',
  'quiet': 0,
  'quiet-Derivation': 'DEFAULT_USED ',
  'random-seed': 0,
  'random-seed-Derivation': 'DEFAULT_USED ',
  'remnant-mass-prescription': "'FRYER2012'",
  'remnant-mass-prescription-Derivation': 'DEFAULT_USED ',
  'retain-core-mass-during-caseA-mass-transfer': 0,
  'retain-core-mass-during-caseA-mass-transfer-Derivation': 'DEFAULT_USED ',
  'revised-energy-formalism-nandez-ivanova': 0,
  'revised-energy-formalism-nandez-ivanova-Derivation': 'DEFAULT_USED ',
  'rlof-printing': 1,
  'rlof-printing-Derivation': 'DEFAULT_USED ',
  'rotational-frequency': 0.0,
  'rotational-frequency-1': 0.0,
  'rotational-frequency-1-Derivation': 'DEFAULT_USED ',
  'rotational-frequency-2': 0.0,
  'rotational-frequency-2-Derivation': 'DEFAULT_USED ',

In [25]:
import h5py
import os 
import pandas as pd

f = '/Users/avaj0001/Documents/projects/compas_dev/COMPAS/src/COMPAS_Output/Detailed_Output/BSE_Detailed_Output_0.h5'

with h5py.File(f, "r") as ff:
    data = recursively_load_dict_contents_from_group(ff, '/')

for k in data:
    print(k)
    display(pd.DataFrame(data[k]))

Age(1)

                0
0    0.000000e+00
1    3.955913e-05
2    3.955913e-05
3    3.955913e-05
4    3.955915e-05
..            ...
672  9.580939e-07
673  9.580939e-07
674  9.580939e-07
675  9.580939e-07
676  9.580939e-07

[677 rows x 1 columns]

Age(2)

            0
0    0.000000
1    0.000040
2    0.000040
3    0.000040
4    0.000040
..        ...
672  4.096877
673  4.096877
674  4.096877
675  4.096877
676  4.096877

[677 rows x 1 columns]

Ang_Momentum(1)

            0
0    0.000398
1    0.000398
2    0.000398
3    0.000398
4    0.000398
..        ...
672  0.000005
673  0.016978
674  0.016978
675  0.016978
676  0.016978

[677 rows x 1 columns]

Ang_Momentum(2)

            0
0    0.000062
1    0.000062
2    0.000062
3    0.000062
4    0.000062
..        ...
672  0.000052
673  0.177946
674  0.177946
675  0.177946
676  0.177946

[677 rows x 1 columns]

Ang_Momentum_Total

               0
0    2041.820645
1    2041.820645
2    2041.820645
3    2041.820645
4    2041.820215
..           ...
672  2906.903309
673  2906.903309
674    64.767390
675    64.767390
676    64.767390

[677 rows x 1 columns]

Dominant_Mass_Loss_Rate(1)

     0
0    0
1    5
2    5
3    5
4    5
..  ..
672  6
673  6
674  6
675  6
676  6

[677 rows x 1 columns]

Dominant_Mass_Loss_Rate(2)

     0
0    0
1    5
2    5
3    5
4    5
..  ..
672  5
673  5
674  5
675  5
676  5

[677 rows x 1 columns]

Eccentricity

       0
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
..   ...
672  0.0
673  0.0
674  0.0
675  0.0
676  0.0

[677 rows x 1 columns]

Energy_Total

                 0
0     -1727.951283
1     -1727.951283
2     -1727.951283
3     -1727.951283
4     -1727.948052
..             ...
672    -597.385138
673    -597.385138
674 -121922.634505
675 -121922.634505
676 -121922.634505

[677 rows x 1 columns]

Luminosity(1)

                 0
0    501055.925514
1    501058.597456
2    501058.597456
3    501058.597456
4    501057.612479
..             ...
672  435914.711734
673  435914.711734
674  435914.711734
675  435914.711734
676  435914.711734

[677 rows x 1 columns]

Luminosity(2)

                0
0    17798.358294
1    17798.383754
2    17798.383754
3    17798.383754
4    17798.383268
..            ...
672  21506.898939
673  21506.898939
674  21506.898939
675  21506.898939
676  21506.898939

[677 rows x 1 columns]

MT_History

     0
0    0
1    0
2    0
3    0
4    0
..  ..
672  3
673  6
674  6
675  6
676  6

[677 rows x 1 columns]

Mass(1)

             0
0    60.075530
1    60.075530
2    60.075530
3    60.075530
4    60.075468
..         ...
672  18.770952
673  18.770952
674  18.770952
675  18.770952
676  18.770952

[677 rows x 1 columns]

Mass(2)

             0
0    14.719169
1    14.719169
2    14.719169
3    14.719169
4    14.719169
..         ...
672  14.702699
673  14.702699
674  14.702699
675  14.702699
676  14.702699

[677 rows x 1 columns]

Mass@ZAMS(1)

            0
0    60.07553
1    60.07553
2    60.07553
3    60.07553
4    60.07553
..        ...
672  60.07553
673  60.07553
674  60.07553
675  60.07553
676  60.07553

[677 rows x 1 columns]

Mass@ZAMS(2)

             0
0    14.719169
1    14.719169
2    14.719169
3    14.719169
4    14.719169
..         ...
672  14.719169
673  14.719169
674  14.719169
675  14.719169
676  14.719169

[677 rows x 1 columns]

Mass_0(1)

             0
0    60.075530
1    60.075530
2    60.075530
3    60.075530
4    60.075468
..         ...
672  18.770952
673  18.770952
674  18.770952
675  18.770952
676  18.770952

[677 rows x 1 columns]

Mass_0(2)

             0
0    14.719169
1    14.719169
2    14.719169
3    14.719169
4    14.719169
..         ...
672  14.702699
673  14.702699
674  14.702699
675  14.702699
676  14.702699

[677 rows x 1 columns]

Mass_CO_Core(1)

       0
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
..   ...
672  0.0
673  0.0
674  0.0
675  0.0
676  0.0

[677 rows x 1 columns]

Mass_CO_Core(2)

       0
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
..   ...
672  0.0
673  0.0
674  0.0
675  0.0
676  0.0

[677 rows x 1 columns]

Mass_Core(1)

       0
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
..   ...
672  0.0
673  0.0
674  0.0
675  0.0
676  0.0

[677 rows x 1 columns]

Mass_Core(2)

       0
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
..   ...
672  0.0
673  0.0
674  0.0
675  0.0
676  0.0

[677 rows x 1 columns]

Mass_Env(1)

             0
0    60.075530
1    60.075530
2    60.075530
3    60.075530
4    60.075468
..         ...
672  18.770952
673  18.770952
674  18.770952
675  18.770952
676  18.770952

[677 rows x 1 columns]

Mass_Env(2)

             0
0    14.719169
1    14.719169
2    14.719169
3    14.719169
4    14.719169
..         ...
672  14.702699
673  14.702699
674  14.702699
675  14.702699
676  14.702699

[677 rows x 1 columns]

Mass_He_Core(1)

             0
0     0.000000
1     0.000000
2     0.000000
3     0.000000
4     0.000000
..         ...
672  18.770952
673  18.770952
674  18.770952
675  18.770952
676  18.770952

[677 rows x 1 columns]

Mass_He_Core(2)

       0
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
..   ...
672  0.0
673  0.0
674  0.0
675  0.0
676  0.0

[677 rows x 1 columns]

Metallicity@ZAMS(1)

          0
0    0.0142
1    0.0142
2    0.0142
3    0.0142
4    0.0142
..      ...
672  0.0142
673  0.0142
674  0.0142
675  0.0142
676  0.0142

[677 rows x 1 columns]

Metallicity@ZAMS(2)

          0
0    0.0142
1    0.0142
2    0.0142
3    0.0142
4    0.0142
..      ...
672  0.0142
673  0.0142
674  0.0142
675  0.0142
676  0.0142

[677 rows x 1 columns]

Omega(1)

                0
0    5.363642e-08
1    5.363642e-08
2    5.363642e-08
3    5.363642e-08
4    5.363633e-08
..            ...
672  3.823051e-08
673  1.311968e-04
674  1.311968e-04
675  1.311968e-04
676  1.311968e-04

[677 rows x 1 columns]

Omega(2)

                0
0    5.363642e-08
1    5.363642e-08
2    5.363642e-08
3    5.363642e-08
4    5.363633e-08
..            ...
672  3.823051e-08
673  1.311968e-04
674  1.311968e-04
675  1.311968e-04
676  1.311968e-04

[677 rows x 1 columns]

Omega_Break(1)

            0
0    0.000126
1    0.000126
2    0.000126
3    0.000126
4    0.000126
..        ...
672  0.001683
673  0.001683
674  0.001683
675  0.001683
676  0.001683

[677 rows x 1 columns]

Omega_Break(2)

            0
0    0.000234
1    0.000234
2    0.000234
3    0.000234
4    0.000234
..        ...
672  0.000183
673  0.000183
674  0.000183
675  0.000183
676  0.000183

[677 rows x 1 columns]

Pulsar_Mag_Field(1)

       0
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
..   ...
672  0.0
673  0.0
674  0.0
675  0.0
676  0.0

[677 rows x 1 columns]

Pulsar_Mag_Field(2)

       0
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
..   ...
672  0.0
673  0.0
674  0.0
675  0.0
676  0.0

[677 rows x 1 columns]

Pulsar_Spin_Down(1)

       0
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
..   ...
672  0.0
673  0.0
674  0.0
675  0.0
676  0.0

[677 rows x 1 columns]

Pulsar_Spin_Down(2)

       0
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
..   ...
672  0.0
673  0.0
674  0.0
675  0.0
676  0.0

[677 rows x 1 columns]

Pulsar_Spin_Freq(1)

       0
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
..   ...
672  0.0
673  0.0
674  0.0
675  0.0
676  0.0

[677 rows x 1 columns]

Pulsar_Spin_Freq(2)

       0
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
..   ...
672  0.0
673  0.0
674  0.0
675  0.0
676  0.0

[677 rows x 1 columns]

Radius(1)

             0
0    11.442442
1    11.442515
2    11.442515
3    11.442515
4    11.442507
..         ...
672   1.377017
673   1.377017
674   1.377017
675   1.377017
676   1.377017

[677 rows x 1 columns]

Radius(1)|RL

            0
0    0.010470
1    0.010470
2    0.010470
3    0.010470
4    0.010470
..        ...
672  0.375933
673  0.375933
674  0.375933
675  0.375933
676  0.375933

[677 rows x 1 columns]

Radius(2)

            0
0    4.728681
1    4.728688
2    4.728688
3    4.728688
4    4.728688
..        ...
672  5.565148
673  5.565148
674  5.565148
675  5.565148
676  5.565148

[677 rows x 1 columns]

Radius(2)|RL

            0
0    0.008180
1    0.008180
2    0.008180
3    0.008180
4    0.008180
..        ...
672  1.698669
673  1.698669
674  1.698669
675  1.698669
676  1.698669

[677 rows x 1 columns]

Record_Type

      0
0     1
1     2
2    10
3    11
4    14
..   ..
672   6
673  12
674   3
675   4
676   5

[677 rows x 1 columns]

RocheLobe(1)|a

            0
0    0.503159
1    0.503159
2    0.503159
3    0.503159
4    0.503159
..        ...
672  0.400236
673  0.400236
674  0.400236
675  0.400236
676  0.400236

[677 rows x 1 columns]

RocheLobe(2)|a

            0
0    0.266142
1    0.266142
2    0.266142
3    0.266142
4    0.266142
..        ...
672  0.357978
673  0.357978
674  0.357978
675  0.357978
676  0.357978

[677 rows x 1 columns]

SEED

              0
0    1667215001
1    1667215001
2    1667215001
3    1667215001
4    1667215001
..          ...
672  1667215001
673  1667215001
674  1667215001
675  1667215001
676  1667215001

[677 rows x 1 columns]

SemiMajorAxis

               0
0    2172.086066
1    2172.086066
2    2172.086066
3    2172.086066
4    2172.087868
..           ...
672     9.151918
673     9.151918
674     9.151918
675     9.151918
676     9.151918

[677 rows x 1 columns]

Stellar_Type(1)

     0
0    1
1    1
2    1
3    1
4    1
..  ..
672  7
673  7
674  7
675  7
676  7

[677 rows x 1 columns]

Stellar_Type(2)

     0
0    1
1    1
2    1
3    1
4    1
..  ..
672  1
673  1
674  1
675  1
676  1

[677 rows x 1 columns]

Stellar_Type@ZAMS(1)

     0
0    1
1    1
2    1
3    1
4    1
..  ..
672  1
673  1
674  1
675  1
676  1

[677 rows x 1 columns]

Stellar_Type@ZAMS(2)

     0
0    1
1    1
2    1
3    1
4    1
..  ..
672  1
673  1
674  1
675  1
676  1

[677 rows x 1 columns]

Tau_Dynamical(1)

                0
0    2.496889e-10
1    2.496913e-10
2    2.496913e-10
3    2.496913e-10
4    2.496912e-10
..            ...
672  1.864816e-11
673  1.864816e-11
674  1.864816e-11
675  1.864816e-11
676  1.864816e-11

[677 rows x 1 columns]

Tau_Dynamical(2)

                0
0    1.340104e-10
1    1.340107e-10
2    1.340107e-10
3    1.340107e-10
4    1.340107e-10
..            ...
672  1.711932e-10
673  1.711932e-10
674  1.711932e-10
675  1.711932e-10
676  1.711932e-10

[677 rows x 1 columns]

Tau_Nuclear(1)

            0
0    1.198979
1    1.198972
2    1.198972
3    1.198972
4    1.198973
..        ...
672  0.430611
673  0.430611
674  0.430611
675  0.430611
676  0.430611

[677 rows x 1 columns]

Tau_Nuclear(2)

            0
0    8.269959
1    8.269947
2    8.269947
3    8.269947
4    8.269947
..        ...
672  6.836271
673  6.836271
674  6.836271
675  6.836271
676  6.836271

[677 rows x 1 columns]

Tau_Radial(1)

       0
0   -1.0
1    0.0
2    0.0
3    0.0
4    0.0
..   ...
672 -1.0
673 -1.0
674 -1.0
675 -1.0
676 -1.0

[677 rows x 1 columns]

Tau_Radial(2)

                0
0   -1.000000e+00
1    0.000000e+00
2    0.000000e+00
3    0.000000e+00
4    0.000000e+00
..            ...
672  1.105487e+09
673  1.105487e+09
674  1.105487e+09
675  1.105487e+09
676  1.105487e+09

[677 rows x 1 columns]

Tau_Thermal(1)

            0
0    0.019766
1    0.019766
2    0.019766
3    0.019766
4    0.019766
..        ...
672  0.018432
673  0.018432
674  0.018432
675  0.018432
676  0.018432

[677 rows x 1 columns]

Tau_Thermal(2)

            0
0    0.080831
1    0.080830
2    0.080830
3    0.080830
4    0.080830
..        ...
672  0.056711
673  0.056711
674  0.056711
675  0.056711
676  0.056711

[677 rows x 1 columns]

Teff(1)

                 0
0     45445.379153
1     45445.294553
2     45445.294553
3     45445.294553
4     45445.287460
..             ...
672  126519.716656
673  126519.716656
674  126519.716656
675  126519.716656
676  126519.716656

[677 rows x 1 columns]

Teff(2)

                0
0    30690.398490
1    30690.386515
2    30690.386515
3    30690.386515
4    30690.386393
..            ...
672  29660.852339
673  29660.852339
674  29660.852339
675  29660.852339
676  29660.852339

[677 rows x 1 columns]

Time

            0
0    0.000000
1    0.000040
2    0.000040
3    0.000040
4    0.000040
..        ...
672  4.093404
673  4.093404
674  4.093404
675  4.093404
676  4.093404

[677 rows x 1 columns]

Zeta_Hurley(1)

            0
0   -0.293793
1   -0.293793
2   -0.293793
3   -0.293793
4   -0.293793
..        ...
672 -0.293793
673 -0.293793
674 -0.293793
675 -0.293793
676 -0.293793

[677 rows x 1 columns]

Zeta_Hurley(2)

            0
0   -0.293793
1   -0.293793
2   -0.293793
3   -0.293793
4   -0.293793
..        ...
672 -0.293793
673 -0.293793
674 -0.293793
675 -0.293793
676 -0.293793

[677 rows x 1 columns]

Zeta_Hurley_He(1)

            0
0   -0.293793
1   -0.293793
2   -0.293793
3   -0.293793
4   -0.293793
..        ...
672  0.000000
673  0.000000
674  0.000000
675  0.000000
676  0.000000

[677 rows x 1 columns]

Zeta_Hurley_He(2)

            0
0   -0.293793
1   -0.293793
2   -0.293793
3   -0.293793
4   -0.293793
..        ...
672 -0.293793
673 -0.293793
674 -0.293793
675 -0.293793
676 -0.293793

[677 rows x 1 columns]

Zeta_Soberman(1)

            0
0   -0.333333
1   -0.333333
2   -0.333333
3   -0.333333
4   -0.333333
..        ...
672 -0.333333
673 -0.333333
674 -0.333333
675 -0.333333
676 -0.333333

[677 rows x 1 columns]

Zeta_Soberman(2)

            0
0   -0.333333
1   -0.333333
2   -0.333333
3   -0.333333
4   -0.333333
..        ...
672 -0.333333
673 -0.333333
674 -0.333333
675 -0.333333
676 -0.333333

[677 rows x 1 columns]

Zeta_Soberman_He(1)

            0
0   -0.333333
1   -0.333333
2   -0.333333
3   -0.333333
4   -0.333333
..        ...
672  0.000000
673  0.000000
674  0.000000
675  0.000000
676  0.000000

[677 rows x 1 columns]

Zeta_Soberman_He(2)

            0
0   -0.333333
1   -0.333333
2   -0.333333
3   -0.333333
4   -0.333333
..        ...
672 -0.333333
673 -0.333333
674 -0.333333
675 -0.333333
676 -0.333333

[677 rows x 1 columns]

dT

            0
0    0.000000
1    0.000040
2    0.000040
3    0.000040
4    0.000040
..        ...
672  0.000001
673  0.000001
674  0.000001
675  0.000001
676  0.000001

[677 rows x 1 columns]

dmMT(1)

       0
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
..   ...
672  0.0
673  0.0
674  0.0
675  0.0
676  0.0

[677 rows x 1 columns]

dmMT(2)

       0
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
..   ...
672  0.0
673  0.0
674  0.0
675  0.0
676  0.0

[677 rows x 1 columns]

dmWinds(1)

            0
0    0.000000
1    0.000000
2    0.000000
3   -0.000062
4   -0.000062
..        ...
672  0.000000
673  0.000000
674  0.000000
675  0.000000
676  0.000000

[677 rows x 1 columns]

dmWinds(2)

                0
0    0.000000e+00
1    0.000000e+00
2    0.000000e+00
3   -1.391796e-07
4   -1.391796e-07
..            ...
672  0.000000e+00
673  0.000000e+00
674  0.000000e+00
675  0.000000e+00
676  0.000000e+00

[677 rows x 1 columns]

In [21]:
! ls /Users/avaj0001/Documents/projects/compas_dev/COMPAS/src/COMPAS_Output/Detailed_Output/

BSE_Detailed_Output_0.h5 BSE_Detailed_Output_2.h5 BSE_Detailed_Output_4.h5
BSE_Detailed_Output_1.h5 BSE_Detailed_Output_3.h5